* {
  margin: 0;
  padding: 0;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}



.draggable {
  cursor: crosshair;
  /* Change to the cursor style you want */
}

.draggable-img {
  width: 80px;
  /* Adjust as needed */
  height: auto;
}

.position-relative {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 0.85rem;
  color: #000000;
  font-weight: 600;
  /* Change color as needed */
}